.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  text-decoration: none;

  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
}

.header-nav {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 20px;
}
