<hero class="hero">
    <div class="canvas">
        <div class="container">
            <div class="hero__title-zahl">
                <h1 class="hero__title">ice cream made with passion</h1>
                <ul class="hero-zahl__list list">
                    <li class="hero-zahl__item">16
                        <p class="hero-zahl__text">cafes</p>
                    </li>
                    <li class="hero-zahl__item">23
                        <p class="hero-zahl__text">food trucks</p>
                    </li>
                </ul>
            </div>
            <div class="hero__products-lorem">
                <ul class="hero__list list ">
                    <li class="hero__item">
                        <button type="button"class="hero__btn">Products</button>
                    </li>
                    <li class="hero__item">
                        <a href="" class="hero__link">How it’s made?</a>
                    </li>
                </ul>
                <div class="hero__lorem">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="hero-lorem__btn">
                        <svg width="40" height="16">
                            <use href='./images/icons.svg#icon-hero-btn-richtung'></use>
                        </svg>
                    </button>
                </div>
                
            </div>
            
        </div> 
    </div>  
</hero>